n8n-chat-multi-http-pusher.json
{
  "name": "AI Chat - Multi HTTP with Pusher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "onReceived",
        "responseCode": 200,
        "responseData": "={\"success\": true, \"message\": \"Processing your request...\"}",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful AI assistant.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook').item.json.text || $('Webhook').item.json.message }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "HTTP 1 - OpenAI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-database-api.com/save-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DB_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $('Webhook').item.json.conversationId }}\",\n  \"username\": \"{{ $('Webhook').item.json.username }}\",\n  \"userMessage\": \"{{ $('Webhook').item.json.text }}\",\n  \"aiResponse\": \"{{ $('HTTP 1 - OpenAI Chat').item.json.choices[0].message.content }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "http-2",
      "name": "HTTP 2 - Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-app.vercel.app/api/receive-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $('Webhook').item.json.conversationId }}\",\n  \"reply\": \"{{ $('HTTP 1 - OpenAI Chat').item.json.choices[0].message.content }}\",\n  \"timestamp\": {{ $now.toMillis() }}\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "HTTP 3 - Send to Vercel (Pusher)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP 1 - OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 1 - OpenAI Chat": {
      "main": [
        [
          {
            "node": "HTTP 2 - Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 2 - Save to Database": {
      "main": [
        [
          {
            "node": "HTTP 3 - Send to Vercel (Pusher)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
