n8n-processing-multi-http-workflow.json
{
  "name": "Processing Module - Multi HTTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant for {{ $('Webhook').item.json.category }} processing.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook').item.json.message || $('Webhook').item.json.text }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "HTTP 1 - AI Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api.com/log-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"category\": \"{{ $('Webhook').item.json.category }}\",\n  \"username\": \"{{ $('Webhook').item.json.username }}\",\n  \"message\": \"{{ $('Webhook').item.json.message }}\",\n  \"ai_response\": \"{{ $('HTTP 1 - AI Processing').item.json.choices[0].message.content }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "http-2",
      "name": "HTTP 2 - Log to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-analytics.com/track",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"chat_message\",\n  \"userId\": \"{{ $('Webhook').item.json.userId }}\",\n  \"properties\": {\n    \"category\": \"{{ $('Webhook').item.json.category }}\",\n    \"message_length\": {{ $('Webhook').item.json.message.length }},\n    \"has_ai_response\": true\n  }\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "HTTP 3 - Analytics Tracking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"reply\": \"{{ $('HTTP 1 - AI Processing').item.json.choices[0].message.content }}\",\n  \"category\": \"{{ $('Webhook').item.json.category }}\",\n  \"timestamp\": \"{{ $now }}\",\n  \"logged\": {{ $('HTTP 2 - Log to Database').item.json.success || true }},\n  \"tracked\": {{ $('HTTP 3 - Analytics Tracking').item.json.success || true }}\n}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP 1 - AI Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 1 - AI Processing": {
      "main": [
        [
          {
            "node": "HTTP 2 - Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 2 - Log to Database": {
      "main": [
        [
          {
            "node": "HTTP 3 - Analytics Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 3 - Analytics Tracking": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
