n8n-processing-workflow-template.json
{
  "name": "Processing Module Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"reply\": \"{{ $json.response }}\",\n  \"message\": \"Processing complete\"\n}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Add your processing logic here\nconst message = $input.item.json.message || $input.item.json.text;\nconst category = $input.item.json.category;\nconst username = $input.item.json.username;\n\n// Simple echo response (replace with your AI logic)\nreturn {\n  response: `Received message for ${category} from ${username}: ${message}`,\n  category: category,\n  username: username\n};"
      },
      "id": "code-1",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
